# Archivos de build y binarios
.gradle/
build/
app/build/
app/release/
*.apk
*.aar
*.jks
*.keystore
certificado_base64.txt

# Configuración del IDE (Android Studio / IntelliJ)
.idea/
*.iml
*.iws
local.properties

# Archivos del sistema
.DS_Store
Thumbs.db

# Herramientas externas
# Ignoramos el contenido de .agent pero EXCEPTUAMOS los workflows para que se guarden en Git
.agent/*
!.agent/workflows/

.gemini/
.antigravityignore
